.bg-sec-blue {
  background-color: #006a91 !important; }

.bg-light-blue {
  background-color: #bededb !important; }

.bg-light-yellow {
  background-color: #f1da76 !important; }

.text-light-blue {
  color: #bededb !important; }

.text-light-yellow {
  color: #f1da76 !important; }

.navbar-brand img {
  max-height: 40px; }

body,
html {
  height: 100%;
  font-family: 'Roboto', sans-serif; }

h1, h2, h3 {
  font-weight: 100; }

h4, h5, h6 {
  font-weight: 300; }

.dark-wrapper {
  background: rgba(1, 15, 59, 0.85);
  width: 100%;
  height: 100%; }

.dark-wrapper1 {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%; }

.light-wrapper {
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%; }

.pimg1,
.pimg2,
.pimg3 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  background-attachment: fixed; }
  .pimg1 span,
  .pimg2 span,
  .pimg3 span {
    margin: 0;
    padding: 0;
    font-size: 28pt; }
  .pimg1 p,
  .pimg2 p,
  .pimg3 p {
    margin: 5px; }

.pimg1 {
  background-image: url("../assets/home.jpeg"); }

.pimg2 {
  background-image: url("../assets/gallery3.jpeg"); }

.section {
  text-align: center;
  padding: 50px 80px; }

.section-light {
  background-color: #f4f4f4;
  color: #666; }

.section-dark {
  background-color: #282e34;
  color: #ddd; }

.ptext {
  position: relative;
  width: 100%;
  text-align: center;
  color: #fff; }

.ptext .border {
  background-color: #111;
  color: #fff;
  padding: 20px; }

.ptext .border.trans {
  background-color: transparent; }

@media (max-width: 568px) {
  .pimg1,
  .pimg2,
  .pimg3 {
    background-attachment: scroll; } }

.features-2 {
  padding: 5rem 0;
  position: relative; }

.logo-invert {
  max-height: 25px; }

.list-inline-item:not(:last-child) {
  margin-right: 15px; }

.calendar {
  position: absolute;
  right: 15px;
  top: 45px;
  color: #333; }

/* Flat Icon */
@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticon.eot?#iefix") format("embedded-opentype"), url("Flaticon.woff") format("woff"), url("Flaticon.ttf") format("truetype"), url("Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg#Flaticon") format("svg"); } }

.fi:before {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

.flaticon-business-woman:before {
  content: "\f100"; }

.flaticon-businessman:before {
  content: "\f101"; }

.flaticon-bed:before {
  content: "\f102"; }

.flaticon-travel:before {
  content: "\f103"; }

.flaticon-bus-side-view:before {
  content: "\f104"; }

.flaticon-mp3:before {
  content: "\f105"; }

.flaticon-television:before {
  content: "\f106"; }

.flaticon-camera:before {
  content: "\f107"; }

.flaticon-emergency-call:before {
  content: "\f108"; }

.flaticon-tools:before {
  content: "\f109"; }

.flaticon-fire-extinguisher:before {
  content: "\f10a"; }

.flaticon-exit:before {
  content: "\f10b"; }

.flaticon-pillow:before {
  content: "\f10c"; }

.flaticon-study-light:before {
  content: "\f10d"; }

.flaticon-plug:before {
  content: "\f10e"; }

.flaticon-video-player:before {
  content: "\f10f"; }

.flaticon-popcorn:before {
  content: "\f110"; }

.flaticon-blanket:before {
  content: "\f111"; }

.flaticon-wifi:before {
  content: "\f112"; }

.flaticon-big-bottle-of-water:before {
  content: "\f113"; }

#glyphs {
  border-bottom: 1px solid #ccc;
  padding: 2em 0;
  text-align: center; }

.glyph {
  display: inline-block;
  width: 8em;
  margin: 1em;
  text-align: center;
  vertical-align: top;
  background: #FFF; }

.glyph .glyph-icon {
  padding: 10px;
  display: block;
  font-family: "Flaticon";
  font-size: 48px;
  line-height: 1; }

.glyph .glyph-icon:before {
  font-size: 48px;
  margin-left: 0; }
